RELAYFORGE_DATABASE_URL=sqlite:///./relayforge.db
RELAYFORGE_API_KEY=replace-this-development-key
RELAYFORGE_ALLOW_PRIVATE_TARGETS=false
RELAYFORGE_ALLOW_INSECURE_HTTP=false
RELAYFORGE_MAX_ATTEMPTS=6
RELAYFORGE_BASE_RETRY_SECONDS=2
RELAYFORGE_MAX_RETRY_SECONDS=300
RELAYFORGE_REQUEST_TIMEOUT_SECONDS=10
RELAYFORGE_LEASE_SECONDS=30

